<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>${project.parent.groupId}.${project.parent.artifactId}</package>
	<author>BOGUI SERGE</author>
	<description>
		${project.parent.description}
	</description>
	<updateURL>https://modules.openmrs.org/modules/download/${project.parent.artifactId}/update.rdf</updateURL>
	<require_version>${openMRSVersion}</require_version>
	<!-- / Module Properties -->

	
	<!-- Required Modules -->
	<require_modules>

		<require_module version="2.13">
			org.openmrs.module.webservices.rest
		</require_module>
			
	</require_modules>
	<!-- / Required Modules -->

	<!-- Global Properties -->
	<globalProperty>
		<property>pharmacy.dispensationTreatmentDaysConcept</property>
		<defaultValue>165011</defaultValue>
		<description>Insert here the concept for the treatment days concept for dispensation in pharmacy </description>
	</globalProperty>
	<globalProperty>
		<property>pharmacy.dispensationGoalConcept</property>
		<defaultValue>165009</defaultValue>
		<description>Insert here the concept for the goal concept for dispensation in pharmacy </description>
	</globalProperty>
	<globalProperty>
		<property>pharmacy.dispensationTreatmentEndDateConcept</property>
		<defaultValue>165040</defaultValue>
		<description>Insert here the concept for the treatment end date concept for dispensation in pharmacy </description>
	</globalProperty>
	<globalProperty>
		<property>pharmacy.dispensationRegimenConcept</property>
		<defaultValue>165033</defaultValue>
		<description>Insert here the concept for the regimen concept for dispensation in pharmacy </description>
	</globalProperty>

	<!-- Privileges  -->
	<privilege>
		<name>Manage Pharmacy</name>
		<description>Can Manage Manage Stock</description>
	</privilege>

	<!-- /Privileges  -->

	<!-- Module Activator -->
	<activator>${project.parent.groupId}.${project.parent.artifactId}.PharmacyActivator</activator>
	
	
	<!-- Adds link to admin page -->
	<extension>
		<point>org.openmrs.admin.list</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.AdminList</class>
	</extension>
	<!-- Adds link to menu bar -->
	<extension>
		<point>org.openmrs.gutter.tools</point>
		<class>${project.parent.groupId}.${project.parent.artifactId}.extension.html.PharmacyGutterLink
		</class>
	</extension>
	
	<!-- Maps hibernate file's, if present -->
<!--	<mappingFiles>-->
<!--				-->
<!--		Pharmacy.hbm.xml-->
<!--				-->
<!--	</mappingFiles>-->

	<packagesWithMappedClasses>
		org.openmrs.module.pharmacy
	</packagesWithMappedClasses>

	<!-- Internationalization -->
	<!-- All message codes should start with ${project.parent.artifactId}. -->
	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->

	<!-- Global Properties -->
	<globalProperty>
		<property>pharmacy.regimenConcept</property>
		<defaultValue>162240</defaultValue>
		<description>Regimen in concept that answers are used to map with pharmacy regimens</description>
	</globalProperty>
	<!-- Global Properties -->

	<dwr>
		<allow>
			<create creator="new" javascript="DWRPharmacyService">
				<param name="class" value="${project.parent.groupId}.${project.parent.artifactId}.web.DWRPharmacyService"/>
				<include method="getProductQuantityInStock"/>
				<include method="authenticate"/>
			</create>
		</allow>

		<signatures>
			<![CDATA[
				import ${project.parent.groupId}.${project.parent.artifactId}.web.DWRPharmacyService;
				DWRPharmacyService.getProductQuantityInStock(Integer productId);
			]]>
		</signatures>
	</dwr>
</module>

